{{- define "main" }}

{{- $pages := slice
  (site.GetPage "/undergraduate_course_reflections")
  (site.GetPage "/hs_portfolio")
  (site.GetPage "/portfolio")
  (site.GetPage "/book_reviews")
}}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">{{ .Title }}</h1>
  </header>

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}
</article>

<style>
  .posts-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 600px; /* 手機端不至於寬到緊貼邊框，維持良好閱讀感 */
  }
  @media (min-width: 768px) {
    .main {
      max-width: 1000px; /* 電腦端稍微加寬整體版面，讓雙欄各欄位寬度拉伸 */
    }
    .posts-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      max-width: none;
    }
  }
</style>

<div class="posts-grid">
  {{- range $pages }}
  {{- if . }}
  <article class="post-entry" style="margin: 0; display: flex; flex-direction: column;">
    {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
    {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}
    <header class="entry-header">
      <h2 class="entry-hint-parent">{{ .Title }}</h2>
    </header>
    {{- if (ne (.Param "hideSummary") true) }}
    <div class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}
  {{- end }}
</div>

{{- end }}