{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">
      {{- if hasPrefix .RelPermalink "/hs_portfolio/examples/" -}}
        {{ (site.GetPage "/hs_portfolio/examples").Title }}
      {{- else -}}
        {{ .Title }}
      {{- end -}}
    </h1>
  </header>

  {{- partial "pf_nav.html" . }}

  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}
</article>

{{- end }}
